@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");

html {
  height: 100%;
  font-family: Noto Serif, serif;
}
body {
  background-color: rgb(250, 250, 219);
  min-height: 100%;
  display: grid;
  place-items: center;
}
.container {
  align-items: center;
}

label {
  font-size: 3em;
  text-align: center;
  font-weight: 700;
  margin-top: 2em;
}

.column {
  display: block;
  margin: 0 auto;
}
